* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #65afbf;
}
table,
thead,
tr {
  width: 100%;
}
table {
  margin-top: 15px;
}
tr {
  display: flex;
  /* justify-content: space-between; */
}
th {
  color: #65afbf;
  text-align: left;
}
td {
  text-align: left;
}
th:nth-child(1),
td:nth-child(1) {
  width: 30%;
}
th:nth-child(2),
td:nth-child(2) {
  width: 30%;
}
th:nth-child(3),
td:nth-child(3) {
  width: 20%;
}
th:nth-child(4),
td:nth-child(4) {
  width: 10%;
}
th:nth-child(5),
td:nth-child(5) {
  width: 10%;
  text-align: center;
}
.delete {
  text-align: center !important;
}
.top-row {
  padding-bottom: 5px;
  border-bottom: 1px solid gray;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
.new-book {
  margin: 30px 0;
}
.new-book h1 {
  font-size: 65px;
  font-weight: 300;
  color: #65afbf;
  margin-bottom: 25px;
  text-align: center;
}
#book-form div {
  max-width: 400px;
  margin: 10px auto;
}
#book-form label {
  color: #4b83a6;
  display: block;
  text-align: left;
}
#book-form input {
  border: 1px solid rgb(187, 187, 187);
  border-radius: 5px;
  min-width: 200px;
  flex-basis: 80%;
  padding: 5px;
  width: 100%;
}
#book-form input:focus {
  outline: none;
}
#book-form #submit {
  padding: 10px 30px;
  display: inline-block;
  margin-top: 20px;
  flex-basis: 80%;
  background-color: #4b83a6;
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: all 0.5s;
}
#book-form #submit:hover {
  cursor: pointer;
}
#book-form #submit:active {
  background-color: #1d71a5;
  color: gray;
}
.success,
.error {
  color: white;
  padding: 10px 0;
  margin: 0 auto;
  display: block;
  width: 300px;
  text-align: center;
  border-radius: 10px;
}
.success {
  background: #669438;
}
.error {
  background: #bf4545;
}
